.input {
    margin-top: 7px;
    margin-bottom: 2px;
}

.avg-sub {
    margin-top: 10px;
    margin-bottom:10px;
}

.drop-button {
    margin-top: 3px;
    margin-bottom: 1px;
}

.selected {
    margin-top: 5px;
    margin-bottom: 5px;
}



 @media only screen and (min-width : 768px) {
    .avg-sub {
        float: left;
    }
}

@media only screen and (min-width : 992px) {
    .avg-sub {
        float: right;
    }
}
